input{ outline: none;}
.Magazine{
    .container{
        flex-direction: column;
        justify-content: flex-start;
    }
    .top{
        display: flex;
        justify-content: space-between;
        height: 3.6rem;
        margin: 1.8rem 0 1.2rem 0;
        width: 120rem;
        .title{
            font-size: 2rem;
            font-weight: bold;
        }
        .left-el{
            display: flex;
            justify-content: space-between;
            margin-top: 1.2rem;
            .sort{margin:0;}
            .search-bar{
                width: 18rem;
                height: 2.4rem;
                margin: 0 0 0 1.2rem;
                border-color: var(--gray800);
                .search-btn{
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
    }
    .bottom{
        align-items: center;
        margin: 0;
        .bar{
            width: 45.7rem;
            height: 1rem;
            margin: 2.8rem;
        }
        .magazine-list{
            height: 88.2rem;
            width: 120rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-x: auto;      
            &::-webkit-scrollbar {
                display: none;
            }
      
            .list-section{
                display: flex;
                gap: 2.4rem;
                position: relative; 
            }
            .magazine{
                width: 28.206rem;
                height: 42.9rem;
                cursor: pointer;
                img, div{
                    position: absolute;
                    
                    transition: opacity 0.3s ease-in-out;
                }
                .thumbnail{
                    width: 28.206rem;
                    height: 42.9rem;
                    object-fit: cover;
                }
                .magazine-info{
                    width: 28.206rem;
                    height: 42.9rem;
                    padding:1rem;
                    background-color: rgba(0,0,0,0.6);
                    display: flex;
                    justify-content: space-between;
                    opacity: 0;
                    p{
                        color: var(--white);
                        font-size: 1.2rem;
                        display: flex;
                    }
                    .date{
                        text-align: left;
                        width: 6rem;
                    }
                    .title{
                        text-align: right;
                        width: 14rem;;
                    }
                }
                &:hover .magazine-info{opacity: 1;}
    
                
            } 
        }
    }
}