.manager {
    width: 100%;
    background-color: var(--gray1100);
    display: flex;
    min-height: calc(100vh - 6.48vh - 2.22vh);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    ::-webkit-scrollbar {
        display: none;
    }

    >.contents {
        padding: 24px;
        height: auto;

        .container {
            width: 88.125vw;
            background-color: var(--white);
            padding: 2rem;
            min-height: fit-content;
            position: relative;
        }

        .title {
            font-size: 1.5rem;
            font-weight: bold;


        }
    }

    .btn {
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: var(--gray700);
        color: var(--white);
        font-size: bold;
        cursor: pointer;
    }

    .btn:hover {
        color: var(--white);
        background-color: var(--black);
    }
}