.Nav {
    width: 9.375vw;
    height: inherit;
    background-color: var(--white);
    border-right: 1px solid var(--gray300);
    div{
        border-bottom: 1px solid var(--gray300);
    }
   

    p {
        
        height: 4.44vh;
        padding-left: 1vh;
        display: flex;
        align-items: center;
    }

    p:hover {
        color: var(--white);
        font-weight: bold;
        background-color: var(--black);
    }
    .category {
        cursor: pointer;
        font-weight: bold;
    }
    
    .content {
        overflow: hidden; 
        background-color: var(--gray900);
        color: var(--white);
        p:hover{
            color: var(--white);
            background-color: var(--black);
            font-weight: bold;
            display: flex;
        }
        p {
            background-color: var(--gray900);
            cursor: pointer;
        }
    }
    
    .display{
        color: var(--white);
        background-color: var(--black);
        font-weight: bold;
        display: flex;
    }
   
}