.nc-create-container {
    display: flex;
    text-align: flex-start;
    flex-direction: column;
    align-items: left;
    padding: 1.667rem;
    background-color: var(--white);
    width: 65.16vw;
    margin: 0 auto;
    height: 100%;

    .nc-create-title {
        width: 100%;
        margin-bottom: 1.667rem;
        text-align: center;

        .nc-title-input {
            width: 100%;
            padding: 0.833rem;
            font-size: 3.333rem;
            font-weight: 800;
            border: none;
            border-bottom: 1px solid var(--white);
            outline: none;
            box-sizing: border-box;
            color: var(--gray900);
            text-align: left;
        }

        .nc-title-input::placeholder {
            color: var(--gray300);
        }
    }

    .nc-images {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2.5rem;

        .nc-image-scroll {
            display: flex;
            overflow-x: auto;
            width: 100%;
            padding-bottom: 1.667rem;
            align-items: center;
        }

        .nc-image-container {
            position: relative;
            margin-right: 1.25rem;

            .nc-image {
                width: 20.83vw;
                height: 64.81vh;
                object-fit: cover;
                border-radius: 0.667rem;
            }

            .nc-remove-btn {
                position: absolute;
                top: 0.417rem;
                right: 0.417rem;
                background-color: var(--white);
                color: var(--gray900);
                border: 1px solid var(--gray900);
                cursor: pointer;
                padding: 0;
                width: 2.667rem;
                height: 1.167rem;
                font-size: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }
        }

        .nc-add-image {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1.25rem;

            .nc-upload-btn {
                background-color: var(--gray900);
                color: var(--white);
                padding: 0.833rem;
                cursor: pointer;
                border-radius: 0.417rem;
                font-size: 3rem;
                border: none;
                width: 20.83vw;
                height: 64.81vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .nc-create-content {
        width: 100%;
        margin-bottom: 1.667rem;

        .nc-content-textarea {
            width: 100%;
            padding: 0.833rem;
            font-size: 1.333rem;
            border: none;
            outline: none;
            height: 16.667rem;
            box-sizing: border-box;
            color: var(--gray900);
            text-align: left;
            resize: none;
        }

        .nc-content-textarea::placeholder {
            color: var(--gray900);
        }
    }
}

.nc {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 1.667rem;
    gap: 1.667rem;
    padding-left: 10vw;
}

.nc-submit-btn {
    width: 6.667rem;
    height: 4rem;
    background-color: var(--white);
    border: 1px solid var(--gray300);
    font-size: 1.167rem;

    &:hover {
        background-color: var(--black);
        color: var(--white);
        border-color: var(--black);
    }
}
.nc-idtime {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

