.address{    
    display: flex;
    justify-content: center; 
    .step-header{
        .delivery-info{
            color: var(--black);
            border-bottom: 1px solid var(--black);
        }
    }
    .container{
        min-height: calc(100vh - 4.63vh);
    }
    .find{
        .title{
            font-size: 1.2rem;
            font-weight: bold;
            margin-top:8.3rem;
        }
        .select_content{
            margin-top: 2.4rem;
            width: 36.1rem;
            
            .activate_box, .unactivate_box{
                width: 8.9rem;
                height: 3.5rem;
                cursor: pointer;
            }
            
            .activate_box{
                border: 0.1rem solid var(--gray1100);
                color: var(--gray600);
            }

            .unactivate_box{
                color: #B1B1B1;
                background-color: var(--gray1100);
            }
            .empty{
                width:18.3rem;
                border-bottom: solid 0.1rem var(--gray1100);
            }
        }
        .bottom{
            margin-top: 0;
        }
        .btn{
            margin-top: 3em;
        }
        .btn:hover{
            background-color: #333333;
            border: 0.1rem solid #333333;
            color: var(--white);
        }
        .addList{
            .btn{
                margin-top: 1.5rem;
            }
        }
    }
}
.addList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .radio-label{
        margin: 0;
        align-items: flex-start;
    }
    .left{
        width: 33.1rem;
    }
    .default_add{
        height: 14.5rem;
        padding: 1.6rem 0;
        border-bottom: solid 0.1rem var(--gray1100);
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        margin: 0.8rem 0;
        .edit{
            display: flex;
            justify-content: space-between;
            width: 8.5rem;
            .edit-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 0.2rem;
                width: 4rem;
                height: 1.9rem;
                border: solid 0.1rem var(--gray1100);
                border-radius: 0.5rem;
                color: var(--gray600);
                font-size: 1.2rem;
                &:hover{
                    background-color: #333333;
                    border: 0.1rem solid #333333;
                    color: var(--white);
                    cursor: pointer;
                }
            }
            
        }
    }
}
.modal-open {
    pointer-events: none; /* 전체 배경 클릭 차단 */
  }
  
  /* 모달 자체는 클릭 가능 */
  .modal-open .DelModal {
    pointer-events: all; /* 모달 내부는 클릭 가능 */
  }