.ShoppingCart{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 10;
}

    .cart_content{
        height: 100vh; 
        background-color: var(--white);
        width: 43.7rem;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        .cart{
            width: 43.7rem;
            padding: 0 1.8rem;
            display: flex;
            flex-direction: column;
            height: 100%;
            .cart_nav{
                display: flex;
                margin-top: 1.8rem;
                justify-content: space-between;
                align-items: center;                    

                .close{
                    width: 1.5rem;
                    height: 1.6rem;
                    cursor: pointer;
                }

                .sc2 {
                    font-size: 1.2rem;
                    justify-content: end;
                    gap: 2.4rem;
                    display: flex;
                    flex: 1;
                    z-index: 2;
        
                    p:hover {
                        cursor: pointer;
                        font-weight: bold;
                    }
                    .BAG{ font-weight: bold;}
                }
            }
        }
        .all-list{
            height: calc(100vh - 4.63vh);
            display: flex;
            flex-direction: column;

        }
    }
    
.del-check{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;                
    margin-left: 2rem;
    margin-top:2rem;
    padding-bottom: 1rem;
    height: 4.2rem;
    width: 36.5rem;
    border-bottom: 0.1rem solid var(--gray300);
    align-items: center;
    .delete{
        cursor: pointer;
        border: solid 1px var(--gray300);
        border-radius: 0.2px;
        width: 5.2rem;
        height: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .check{
        width: 7rem;
        display: flex;
        justify-content: space-between;
        
        .checkbox{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.8rem;
            height: 1.8rem;
            border: solid 0.1rem var(--gray300);
            border-radius: 0.2rem;
            cursor: pointer;
            img{
                width: 1.3rem;
                height: 1.1rem;
            }
        }
    }
}
.only-cart{
    margin-bottom: 3rem;
    .total{
        margin-top: 1.6rem;
        .total-price{
            display: flex;
            justify-content: space-between;
            .sum-price{font-weight: bold;}
        }
        
        .fee{
            display: flex;
            justify-content: space-between;
            margin: 0.5rem 0;
            .ship-alt{
                color: var(--gray600);
            }
        
        }
    }
    .goto-pay{
        margin-bottom: 3rem;
        
        .box{
            border: solid 0.1rem var(--gray500);
            height: 4rem;
            margin-top: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            font-size: 1.2rem;
        }
        .box:hover{
            border: solid 0.1rem var(--black);
            background-color: var(--black);
            color: var(--white);            
            cursor: pointer;
        }
    }
}

@media (max-width: 50rem){
    .ShoppingCart{
        margin-bottom: 10rem;
    }
    
    .cart_content{
        width: 100%;
        .cart{
            width: 100%;
            .cart_nav{   
                margin-bottom: 1.8rem;
                .close{
                }
    
                .sc2 {
                }
            }
            
            .all-list{
                padding: 0 2rem;
                overflow-x: hidden;
                overflow-y: auto;
            }
            .prodList{
                padding:0;
                overflow:visible;
                border-top: 0.1rem solid var(--gray300);
                padding-top: 1.3rem;
            }
            
        }
    }
        
    .del-check{
        margin-left: 0;
        margin-bottom: 1rem;
        border-bottom: none;
        width: 100%;
        padding: 0 2rem;
        padding-top: 0.5rem;
            .delete{
                font-size: 1.1rem;
                height: 2.3rem;
            }
            .check{font-size: 1.1rem;}
            .checkbox{
                img{
                }
            }
        }
    }
    .only-cart{
        min-width: 32rem;
        .total{
            font-size: 1.2rem;
        }
        .goto-pay{
            margin-bottom: 3rem;
            
            .box{
                border: solid 0.1rem var(--gray500);
                height: 4rem;
                margin-top: 1.6rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                font-size: 1.2rem;
            }
            .box:hover{
                border: solid 0.1rem var(--black);
                background-color: var(--black);
                color: var(--white);            
                cursor: pointer;
            }
        }
}
