.dc-btn{
    .selected, .no-selected{
        width: 36.1rem;
        font-size: 1.2rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .selected{ 
        align-items: center;
        height: 4rem;
        background-color: #333333;
        border: 0.1rem solid #333333;
        color: var(--white);
    }
    .no-selected{
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 4rem;
        background-color: #e6e6e6;
        color: var(--black);
        border: solid 0.1rem #c2c2c2;
        border-bottom: none;
        max-height: 14rem;
        overflow-y: auto;
        .coupon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36.1rem;
            height: 4rem;
            border-bottom: solid 0.1rem #c2c2c2;
            flex-shrink: 0;
        }
        &::-webkit-scrollbar {
            display: none;
          }
    }
}