.pay{
    .step-header{
        .pay{
            color: var(--black);
            border-bottom: 1px solid var(--black);
        }
        .continue p{display: none;}
    }
    .result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .altImg{
            width: 6rem;
            height: 6rem;
        }
        .font1{
            font-weight: bold;
            font-size: 2rem;
            margin: 3.2rem 0;
        }
        .font2, .alt2{
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 6.5rem;
        }
        .alt2{color: #FF0000;}
        .box1, .box2{
            width: 25.1rem;
            height: 6.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 2rem;
            margin-top: 2.2rem;
            cursor: pointer;
        }
        .box1{
            background-color: #333333;
            color: var(--white);
        }
        .box2{
            border: solid 0.1rem #333333;
            color: #333333;
        }
    }
}