.step-header{
    background-color: var(--white);
    position: absolute; 
    top: 0; 
    width: 100%;
    z-index: 10;
    .header{
        cursor: default;
        justify-content: space-between;
        .logo{
            cursor: pointer;
            min-width: 10rem;
            flex: none;
        }
        .center{
            display: flex;
            justify-content: space-between;
            width: 120rem;
            .title{width: 2.5rem;}
            .step{
                display: flex;
                color: var(--gray700);
                p{ 
                    margin: 0 5.1rem;
                    width: 6.5rem;
                }
            }
        }
        .continue{
            min-width: 10rem;
            display: flex;
            justify-content: flex-end;
            p{
                margin-right: 2.4rem;
                text-decoration-line: underline;
                cursor: pointer;
            }
        }
    }
}