.manager_category {
    height: max-content;
    gap: 2rem;
    .title {
        display: flex;
        align-items: center;

        >.b {
            display: flex;
            font-weight: 900;
            margin-right: 15px;
            font-size: 1.5rem !important;
            letter-spacing: .05rem;
            color: var(--black);
        }

        p {
            font-size: 1rem !important;
            font-weight: 400;
            color: var(--gray600);
        }
    }

    .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.4rem;
        >span{
            width: 12px;
            height: 0.1rem;
            background-color: var(--gray300);
        }
    }

    .catelist {
        display: flex;
        gap: 1rem;


        .cateitem {
            width: 17.6rem;
            height: auto;
            cursor: pointer;
            color: var(--gray600);
            input{
                display: flex;
                width: auto;
                font-size: 1rem;
                color: var(--gray600);
            }

            .selected {
                border: 1px solid var(--gray800);
                padding: 0 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 2.4rem;
            }

            .options {
                color: #c2c2c2;
                background-color: var(--gray800);
                

                .option,
                .add {
                    height: 2.4rem;
                    padding: 0 1rem;
                    display: flex;
                    align-items: center;
                    color: var(--gray600);
                }
            }

        }
    }

    .btn {
        width: 8rem;
        height: 4.8rem;
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: bold;
    }


}