.manager_category {
    .title {
        display: flex;
        align-items: center;

        >.b {
            display: flex;
            font-weight: 900;
            margin-right: 15px;
            font-size: 1.5rem !important;
            letter-spacing: .05rem;
            color: var(--black);
        }

        p {
            font-size: 1rem !important;
            font-weight: 400;
            color: var(--gray600);
        }
    }

    .catelist {
        margin: 1rem 0;
        display: flex;
        gap: 1rem;
        cursor: pointer;
        height: 5rem;
        align-items: end;

        .category,
        .plus,
        .input,
        .minus {
            border: 0.1rem solid var(--gray300);
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .category {
            width: 8.2rem;
            height: 3.6rem;

            h5 {
                color: var(--gray600);
                font-size: 1.2rem;
            }

        }

        .category:hover {
            color: var(--white);
            background-color: var(--black);

            h5 {
                color: var(--white);
            }
        }

        .plus {
            width: 5.6rem;
            height: 3.6rem;
            color: var(--gray600);
            font-size: 1.2rem;
        }

        .plus:hover {
            color: var(--white);
            background-color: var(--black);
        }

    }

    .btn {
        width: 8rem;
        height: 4.8rem;
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .input {
        position: relative;
        width: fit-content;
        padding: 0 1rem;
        gap: 0.5rem;
        height: 3.6rem;
        display: flex ;
        font-size: 1.2rem;
        color: var(--gray600);
        min-width: 5rem;

        input {
            margin: 0 auto;
            display: flex ;
            outline: none;
            font-size: 1.2rem;
            color: var(--gray600);
            text-align: center;
            background: var(--none);
        }

        .minus {
            position: absolute;
            width: 3.2rem;
            height: 1.4rem;
            justify-content: center;
            align-items: center;
            top: -1.4rem;
            right: 0;
        }
        .minus:hover{
            color: var(--white);
            background-color: var(--black);
        }
    }
}