.all-shop{
    min-height: calc(100vh - 4.63vh);
    margin-bottom: 5rem;
}
.top-el{
    display: flex;
    justify-content: space-between;

    height: 5rem;
    padding-top:1.5rem;

    .title{
    font-size: 2rem;
    font-weight: bold;
    }
}

.bottom-el{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
    .prodList{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2.4rem;
        min-height: 88.8rem;

       
        .product{
            width: 28.2rem;
            height: 45rem;
            margin-bottom: 1.5rem;
            cursor: pointer;
            .prodImg{
                position: relative;

                img{
                    height: 40rem;
                    width: 28.2rem;
                    object-fit: cover;
                    position: absolute;
                    transition: opacity 0.5s ease-in-out;
                }
                .backImg { opacity: 0; }
            
                &:hover .frontImg { opacity: 0; }
            
                &:hover .backImg { opacity: 1; }
            }
            .prodInfo{
                position: relative;
                top: 41.2rem;
                display: flex;
                flex-direction: column;
                p{ font-size: 1rem; }
                .name{ 
                    font-weight: bold;
                }
                /* 할인 품절 상태 스타일
                .origin-price{ 
                    text-decoration:line-through;
                } */
                .sold-out{
                    display: none;
                    font-weight: bold;
                    color: #FF0000;
                }

                .discount{
                    display: none;
                    .dc-price, .coupon{
                        font-weight: bold;
                        color: #FF0000;
                    }
                    .dc-price{
                        margin-right: 0.7rem;
                    }

                }
            }
        }
    }
}


.pagination{
    flex: 0;
    display: flex;
    justify-content: center;
    color: var(--gray900);
    margin: 1rem  0;  
    font-size: 1.2rem;
    .pageNum{
        cursor: pointer;
        margin: 0 0.7rem;
        height: 1.8rem;
        padding-top: 0.1rem;



        &[aria-current="page"]{
            color: var(--gray1000)
        }

    }
    .prev, .next{
        height: 1.8rem;
       cursor: pointer;
       display: flex;
       align-items: center;
       background-color: transparent;
    }
}