.ShippingModal{
    position: fixed;
    top:4.8rem;
    left: 0;
    height: calc(100vh - 4.8rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120rem;
        min-height: 56.1rem;
        padding: 2.4rem 0;
        background-color: var(--white);
        border: solid 1px var(--gray300);
        filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.25));

        .modal-top{
            width: 115.2rem;
            height: 4.8rem;
            display: flex;
            justify-content: space-between;
            h2{
                font-weight: bold;
                font-size: 2rem;
            }

            .close{
                height: 1.5rem;
                width: 1.6rem;
                cursor: pointer;
            }
        }

        .content{
            border: solid 1px var(--gray300);
            width: 115.2rem;
            min-height: 46.5rem;
            display: flex;
            justify-content: center;

             p{
                white-space: pre-wrap; 
                width: 110.4rem; 
                letter-spacing: 0.1rem;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 2.4rem 0;
                line-height: 1.7;
            }
        }
    }
}
.PrivacyModal{
    .modal{
        min-height: 62.6rem;
        .modal-bottom{
            display: flex;
            flex-direction: row;
            margin-top: 2.4rem;
            div{
                width: 11rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 0.1rem var(--gray500);
                margin: 0 2.7rem;
                cursor: pointer;
            }
            div:hover{
                color: var(--white);
                background-color: #333;
            }
        }
    }

}
.DelModal{
    .ShippingModal{
         background-color: rgba(0,0,0,0.2);
         
    .modal{
        width: 36.1rem;
        height: 13.3rem;
        padding: 2.4rem 0;
        min-height: auto;
        background-color: var(--white);
        filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.25));
        border-radius: 0.5rem;
        p{
            font-size: 1.3rem;
            color: var(--black);
        }
        .del-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--gray1100);
            border-radius: 0.5rem;
            color: var(--gary600);
            padding-top: 0.2rem;
            font-size: 1.2rem;
            width: 6.5rem;
            height: 3rem;
            position: absolute;
            right: 1.5rem;
            bottom: 1.5rem;
            cursor: pointer;
        }
    }
        }
}

.modal-open {
    pointer-events: none; /* 전체 배경 클릭 차단 */
  }
  
/* 모달 자체는 클릭 가능 */
.modal-open{ 
    .ShippingModal, .PrivacyModal, .DelModal {
        pointer-events: all; /* 모달 내부는 클릭 가능 */
        cursor: default;
    }
}

@media (max-width: 50rem){
    .ShippingModal{
        position: relative;
        height: auto;
        top: -1.5rem;
        align-items: flex-start;
        padding-top: 2rem;
        background-color: var(--white);
        .modal{
            padding: 0 1.5rem;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            border: none;
            .modal-top{
                width: 100%;
                align-items: center;
                margin: 1.5rem 0;
                height: auto;
                h2{
                    margin:0;
                }
            }
            .content{
                min-height: auto;
                width: 100%;
                border: var(--none);
                overflow-y: auto;
                margin-top:1rem;
                margin-bottom: 3rem;
                p{  
                    width: 100%;
                    font-size: 1rem;
                    line-height: 1.5;                     
                    padding: 0 1rem;
                }
            }
        }
        }
        
    .PrivacyModal{
        position: absolute;
        top: 5rem;
        left:0;
        background-color: var(--white);
        .ShippingModal{height: calc(100vh - 5rem);}
        .modal .modal-bottom div{ font-size: 1.2rem; }
    }
        
    .DelModal{
        position: absolute;
        z-index: 999;
        top:0;
        left: 0;
        .ShippingModal{
            width: 100vw;
            height: 100vh;
            align-items: center;
            .modal{
                width: 32rem;
                padding: 1.5rem;
                justify-content: space-between;
                p{margin-top: 4rem;}
                .del-btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    bottom: 0;
                    right: 0;
                }
            }
            
            .del-outer{
                display: flex;
                padding-right: 1.5rem;
                width: 32rem;
                height: 3rem;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
    }
}