.ShowReview{
    display: flex;
    flex-direction: column;
    width: 48.6rem;
    color: #646464;
    .title{
        font-weight: bold;
        color: var(--black);
        margin: 0.3rem 0;
    }

    .all-image{
        display: flex;
        .moreImage{
            width: 9.3rem;
            height: 9.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #E6E6E6;
            cursor: pointer;
        }
    }

    .top-el{
        height: 2.3rem;
        padding: 0;
        margin: 1rem 0 1.4rem 0;
        .number{margin-top:0.4rem;}
        .sort{margin:0;}
    }
    
    .userImgList, .nickname, .star, .buyInfo, .userImgList, .comment{
        display: flex;
    }

    .review{
        display: flex;
        flex-direction: column;
        .horizon{
            width: 48.6rem;
            margin-bottom: 1.4rem;
            border-bottom: solid 0.1rem #E6E6E6;
        }
        .nickname p{
            margin-right:1.5rem;
        }
        .star{
            display: flex;
            margin: 0.6rem 0;
            img{
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.2rem;
            }
            p{margin-left:0.3rem;}
        }
        .buyInfo{
            margin: 0.8rem 0 0.8rem 0.5rem;
            p{margin: 0 0.2rem;}
        }
        .comment, .ownersComment{
            margin: 0.8rem  0 1.9rem 0.7rem;
        }
        .ownersComment{
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            .top{
                display: flex;
                align-items: center;
                img{
                    color: #646464;
                    width: 2.4rem;
                    height: 2.4rem;
                    padding-top:0.2rem;
                    cursor: pointer;
                }
            }
            .bottom{
                margin-top:1rem;
            }
        }
    }
    
    .userImg{
        width: 9.3rem;
        height: 9.3rem;
        object-fit: cover;
        margin-right: 0.5rem;
    }
}
/*이미지 모아보기*/
.ReviewImage{
    min-height: 95.37vh;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    .top-el{
        flex-direction: column;
        margin-top: 6.7rem;
        padding: 0;
        height: 7.4rem;
        div{
            display: flex;
            align-items: center;
            margin-bottom: 2.6rem;

            .title{
                font-size: 2rem;
                font-weight: bold;
                margin: 0;
            }
        }
        p{
            font-weight: bold;
            font-size:1.2rem;
        }
        .back-btn{
            width: 2.4rem;
            height: 2.4rem;
            margin: 0.11rem 1rem 0 0;
            cursor: pointer;
        }
    }

    .bottom-el{
        margin-top: 2.6rem;
        min-height: 83rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .all-imgList{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.3rem;
            padding-bottom: 2rem;
            
            .image-box{
                width: 236px;
                height: 23.6rem;
            }
            .image{
                width: 23.6rem;
                height: 23.6rem;
                object-fit: cover;
            }
        }
    }
}