@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --mainfont: "pretendard";

    
    --white: #fff;
    --brown : #56320E;
    --gray100 : #EBEBEB;
    --gray200 : #E7E7E7;
    --gray300 : #CECECE;
    --gray400 : #A5A5A5;
    --gray500 : #ADADAD;
    --gray600 : #6D6D6D;
    --gray700 : #6F6F6F;
    --gray800 : #EAE9E9;
    --gray900 : #8B8B8B;
    --gray1000: #595959;
    --gray1100 : #D9D9D9;
    --black: #000;
    --blue:#E2F2FF;
    --orange: #FFEEDC;
    
    
    // 투명
    --none: #00000000;

    // 폰트 세팅
    font-family: var(--mainfont);
    line-height: 1.5;
    font-weight: 400;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
