.detail {
    .wrap, .result {
        margin-top: 1rem;

        >p {
            font-size: 1.3rem;
            font-weight: bold;
            margin: 1rem 0;
        }

        .search {
            width: 100%;
            height: 3.6rem;
            border: 1px solid var(--gray300);
            font-size: 1.2rem;
            display: flex;
            justify-content: space-between;

            input {
                padding: 0 2rem;
            }

            .btn {
                width: 9.6rem;
            }
        }

        .wrap {
            display: flex;
            gap: 1rem;
            align-items:  end;
            >.btn{
                height: 3.6rem;
                background-color: #646464;
                color: #fff;
                cursor: pointer;
                margin-bottom: 1rem;
                padding:0 1rem ;
                font-weight: 400;
            }

            .btns {
                display: flex;
                height: 3.6rem;
                margin-bottom: 1rem;

                >.btn {
                    padding: 0 1.5rem;
                    background-color: #fff;
                    color: var(--black);
                    border: 1px solid var(--gray300);
                }

                >.btn:hover {
                    color: var(--white);
                    background-color: #646464;
                }
            }

        }
        .link_table {
            width: 100rem;
        }
    
        .table {
            width: 90rem;
        }
    
        .table,
        .link_table {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: 1rem;
    
    
    
            .cate {
                flex: 2.5;
            }
    
            .goods,
            .link {
                flex: 2;
            }
    
            .color,
            .link_color,
            .link_day {
                flex: 2;
            }
    
            .size,
            .link_size {
                flex: 4;
            }
    
            .check {
                flex: 0.5;
            }
    
            .header {
                display: flex;
                height: auto;
                font-size: 1.2rem;
                font-weight: 700;
    
                div {
                    height: 3.6rem;
                    display: flex;
                    background-color: var(--gray800);
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--gray300);
                }
            }
    
    
            .row {
                display: flex;
                font-size: 1.2rem;
    
                >div {
                    min-height: 3.6rem;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--gray300);
                    display: flex;
    
                }
    
                >input {
                    min-height: 3.6rem;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--gray300);
                    display: flex;
                    cursor: pointer;
                }
    
                input[type="checkbox"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
    
                    position: relative;
    
                    &:checked::after {
                        content: "✓";
                        font-size: 16px;
                        color: var(--black);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
       
    }

    >.btn{
        width: 8rem;
        margin: 0 auto;
        height: 3.6rem;
    }
}