// 로그인
.background {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 1000;
}

.login_content{
    display: flex;
    justify-content: center; 
    height: 100vh; 
    background-color: var(--white);
    width: 43.7rem;
    cursor: auto;

.login {
    max-width: 36.1rem;
    display: flex;
    flex-direction: column;
}

    .login_nav {
        display: flex;
        margin-top: 1.8rem;
        justify-content: center;
        cursor: pointer;

        .x {
            width: 1.5rem;
            height: 1.6rem;
            cursor: pointer;
        }
    
        .sc2 {
            font-size: 1.2rem;
            justify-content: end;
            gap: 2.4rem;
            display: flex;
            padding-right: 1.5rem;
            flex: 1;
            z-index: 2;
    
            p:hover {
                font-weight: bold;
            }
        }
    }


    .kakao_btn, .naver_btn, .google_btn {
        width: 36.1rem;
        height: 4rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .kakao_btn {
        margin-top: 2.4rem;
        background-color: #FAE100;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .kakao_btn img {
        width: 3.6rem;
        height: 2.5rem;
        margin-right: 10rem;
        margin-left: -13rem;
    }

    .naver_btn {
        background-color: #00C73C;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--white);
    }

    .naver_btn img {
        width: 5.8rem;
        height: 4rem;
        margin-right: 9rem;
        margin-left: -14rem;
    }

    .google_btn {
        background-color: var(--white);
        border: 0.1rem solid #DFDFDF;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .google_btn img {
        width: 2rem;
        height: 2rem;
        margin-right: 10.7rem;
        margin-left: -13rem;
    }

    .option_content {
        display: flex;
        justify-content: space-between; 
        align-items: flex-start;
        margin-top: 2rem;
      
        .check_field {
          display: flex;
          align-items: center;
          gap: 0.5rem;
      
          .keep_login {
            appearance: none; 
            width: 1.8rem;
            height: 1.8rem;
            border: 0.1rem solid var(--gray300);
            border-radius: 0.2rem;
            cursor: pointer;
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .keep_login:checked {
            background-color: var(--white);
          }
          
          .keep_login:checked::after {
            content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none"%3E%3Cpath d="M1 5L4 9L11 1" stroke="%23585858" stroke-width="1.5"/%3E%3C/svg%3E');
            width: 1rem;
            height: 1.7rem;
          }
      
          p {
            font-size: 1.2rem;
            color: #333;
            margin: 0;
          }
        }
        .option {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .option_text {
                font-size: 1.2rem;
                color: var(--black);
                text-decoration: underline;
                cursor: pointer;
                margin: 0;
               
                &:not(:last-child) {
                    margin-bottom: 0.2rem;
                  }
            }
        }
      }

    
      
}