.modal_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal_content {
    display: flex;
    flex-direction: column;
    width: 36.1rem;
    height: 13.3rem;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    justify-content: center;
  }
  
  .modal_content p {
    font-size: 1.3rem;
    color: #000; 
    margin-bottom: 2rem;
    white-space: pre-line;
    margin-left: 1rem;
  }
  
  .modal_content button {
    width: 6.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray800);
    color: var(--gray600);
    font-weight: 600;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    margin-left: 26.5rem;
    
    &:hover {
        cursor: pointer;
      }
  }

  