html, #root{
    font-size: 62.5% !important;
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 62.5% !important;
}

.container { 
    width: 120rem;
    min-height: calc(100vh - 4.63vh - 2.22vh);
    //전체 높이 - 헤더 높이 - 푸터 높이
    margin: 0 auto;
}

.none{
    justify-content: center;
    align-items: center;
    display: flex;
    >h1{
        color: var(--gray700);
    }
}