.header {
    height: 4.63vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: var(--gray300) 1px solid;
    position: relative;
    cursor: pointer;
    font-size: 1.11vh;
    overflow: visible;
    z-index: 2;

    .logo {
        display: flex;
        flex: 1;
        min-width: 10rem;

        img {
            display: flex;
            height: 2.59vh;
            padding-left: 1.5rem;
            width: auto;

        }
    }

    .sc1 {
        gap: 2.4rem;
        height: 4.63vh;
        align-items: center;
        display: flex;
        width: 1200px;
        left: calc(50% - 600px);
        position: absolute;
        height: 4.63vh;

        .SHOP,
        .OTHERS {
            display: flex;
            position: relative;
            height: 4.63vh;
                justify-content: center;
                align-items: center;
            .sub {
                display: none;
                gap: 2.4rem;
                height: 4.63vh;
                justify-content: center;
                align-items: center;
            }
        }

        .SHOP:hover,
        .OTHERS:hover {
            >p {
                font-weight: bold;
                margin-right: 2.4rem;
            }

            .sub {
                display: flex;

            }

            .second:hover {
                .second {
                    display: flex;
                }

                .second-sub {
                    display: flex;
                }
            }


        }

       

        .sub>p:hover {
            font-weight: bold;
        }

        .second p:hover {
            font-weight: bold;
        }



        .second {
            position: relative;
            display: flex;
            height: 4.63vh;
            justify-content: center;
            align-items: center;


            .second-sub {
                position: absolute;
                flex-direction: column;
                top: 4.63vh;
                left: -0.5vw;
                height: 9.26vh;
                width: 4vw;
                display: none;
                justify-content: space-around;
                background-color: var(--white);
                border: 1px solid var(--gray300);

                p {
                    margin: 0 1.2rem;

                }

                p:hover {
                    font-weight: bold;
                }
            }

            .second-sub:first-child {
                padding-top: 0.65vh;
            }

            .second-sub:last-child {
                padding-bottom: 0.65vh;
            }
        }


    }


    .sc2 {
        justify-content: end;
        gap: 2.4rem;
        display: flex;
        padding-right: 1.5rem;
        flex: 1;
        z-index: 2;

        p:hover {
            font-weight: bold;
        }
    }


    .display {
        display: flex !important;

    }

    .SHOP .second-sub:hover~.sub {
        display: flex;
    }

    .bold {
        font-weight: 600;
        margin-right: 2.4rem;
    }
}