// 주문 내역
.order_search {
    margin-top: 2rem;
    width: 70.2rem;
    height: 4.2rem;
    border: 0.1rem solid #D4D4D4;
    color: var(--gray700);
    padding-left: 1.5rem;
    font-size: 1.2rem;
}

.order_title{
    margin-top: 2.7rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: underline;
    color: var(--gray700);
}

.ordering_box, .ordered_box {
    margin-top: 20px;
    width: 70.2rem;
    height: 18.4rem;
    border: 0.1rem solid #D4D4D4;
    display: flex;

    .dot {
        width: 0.4rem;
        height: 0.4rem;
        margin: 1rem;
        background-color: var(--gray1100);
        border-radius: 50%;
    }   

    .box_left {
        padding: 1.4rem;
        .order_state {
            display: flex;
            align-items: center;

            .state {
                font-size: 1.2rem;
                font-weight: 700;
                color: var(--black);
            }         

            .date {
                font-size: 1rem;
                font-weight: 500;
                color: #FF0000;
            }
        }

        .order_info{
            display: flex;
            margin-top: 1.5rem;

            img {
                width: 9.9rem;
                height: 9.9rem;
            }

            .goods_info{
                padding: 1.1rem;

                p {
                    width: 35.8rem;
                    font-size: 1.2rem;
                }

                .price {
                    display: flex;
                    align-items: center;
                    margin-top: 3rem;
                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .line {
        height: 18.3rem;
        border: 0.1rem solid var(--gray1100);
        padding: 0;
    }

    .box_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 2.3rem;
        position: relative;

        .order_detail {
            position: absolute; 
            top: 0.8rem;
            right: -2.5rem;
            font-size: 1rem;
            font-weight: 500;
            color: var(--black);
            cursor: pointer;
        }
    
        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
    
            .order_option {
                width: 13.7rem;
                height: 3.6rem;
                color: var(--black);
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0.1rem solid #BFBFBF;
                border-radius: 0.5rem;
                background-color: var(--white);
                cursor: pointer;
            }
        }
    }
    
    
}

.button_area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71.8rem;
    gap: 1rem;
    margin-top: 4rem;

    .previous {
        width: 7.1rem;
        height: 3.6rem;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 0.5rem;
        border: 0.1rem solid #C2C2C2;
        color: #C2C2C2;
        background-color: #E6E6E6;
        cursor: pointer;
    }

    .next {
        width: 7.1rem;
        height: 3.6rem;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 0.5rem;
        border: 0.1rem solid #C2C2C2;
        color: var(--black);
        background-color: var(--white);
        cursor: pointer;
    }
}